.main {
  height: 100vh;
  background-color: #161D26;
  display: grid;
  grid-template-rows: repeat(12, 1fr);
  grid-template-columns: repeat(12, 1fr);
}

.left {
  display: flex;
  grid-row-start: 1;
  grid-row-end: 13;
  grid-column-start: 1;
  grid-column-end: 4;
  border-right: 2px solid grey;
  color: white;  
}

.center {
  grid-row-start: 1;
  grid-row-end: 13;
  grid-column-start: 4;
  grid-column-end: 9;
  border-right: 2px solid grey;
}
.contentleft{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 25px 0px 10px 30px;
}

.right {
  grid-row-start: 1;
  grid-row-end: 13;
  grid-column-start: 9;
  grid-column-end: 13;
  color: white;
}

.logout{
  background-color: transparent;
  color: white;
  border: 1px solid grey;
  border-radius: 30px;
  padding: 5px 15px;
  margin-bottom: 20px;
  cursor: pointer;
}

.user {
  display: flex;
  margin-bottom: 20px;
}

.pfp {
  border-radius: 25px;
}

.userInfo {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.firstname {
  font-weight: bold;
}

.username, .date {
  color: grey;
}