.main{
  font-weight: bold;  
  font-size: 22px;
  color: white;
  margin-left: 20px;
  margin-top: 10px;
  margin-right: 20px;
}

.trendslist{
  background-color: #1B232C;
  border-radius: 10px;
  width: 100%;
  box-sizing: border-box;
  width: 100%;
  font-size: 16px;
  overflow: hidden;
}

.trend {
  padding: 10px;
  cursor: pointer;
}

.trend p {
  margin: 5px;
}

.trend:hover {
  background-color: #28313c;
}

.trendsNumber {
  color: grey;
  font-size: 12px;
  font-weight: lighter;
}